<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<!-- Пример: логирование в файл с "ролловером" по размеру -->
		<target xsi:type="File"
				name="logfile"
				fileName="logs/${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message}${exception:format=toString}"            
				archiveFileName="logs/archives/${shortdate}.{##}.zip"		
				archiveNumbering="Sequence"		
				archiveAboveSize="10485760"		
				maxArchiveFiles="20"		
				enableArchiveFileCompression="true"		
				concurrentWrites="true"
				keepFileOpen="false"
				/>

		<!-- Можно добавить и таргет для консоли (как сейчас у вас) -->
		<target xsi:type="Console"
				name="console"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message}${exception:format=toString}" />
	</targets>

	<rules>
		<!-- Правило: все логи (Trace и выше) пишем в logfile и console -->
		<logger name="*" minlevel="Trace" writeTo="logfile,console" />
	</rules>
</nlog>
