<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="logs/internal-nlog.txt">

  <!-- Определяем переменные для настройки путей к файлам логов -->
  <variable name="logDirectory" value="${basedir}/logs" />

  <!-- Разрешаем использование переменных из переменных окружения, app settings и т.д. -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- Определяем целевые объекты для логирования -->
  <targets>
    <!-- Логирование в файл -->
    <target xsi:type="File" name="allfile" fileName="${logDirectory}/all-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

    <!-- Логирование ошибок в отдельный файл -->
    <target xsi:type="File" name="errorfile" fileName="${logDirectory}/error-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

    <!-- Логирование в консоль -->
    <target xsi:type="Console" name="console"
            layout="${date:format=HH\:mm\:ss}|${level:uppercase=true}|${message} ${exception:format=tostring}" />

    <!-- Логирование для категорий -->
    <target xsi:type="File" name="categoryfile" fileName="${logDirectory}/category-cleanup-${shortdate}.log"
            layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
  </targets>

  <!-- Определяем правила маршрутизации сообщений логов к целевым объектам -->
  <rules>
    <!-- Все логи от уровня 'Trace' и выше записываются в файл 'allfile' -->
    <logger name="*" minlevel="Trace" writeTo="allfile" />

    <!-- Только ошибки записываются в файл 'errorfile' -->
    <logger name="*" minlevel="Error" writeTo="errorfile" />

    <!-- Логи от уровня 'Info' и выше выводятся в консоль -->
    <logger name="*" minlevel="Info" writeTo="console" />

    <!-- Логи связанные с категориями записываются в отдельный файл -->
    <logger name="RareBooksService.Data.Services.CategoryCleanupService" minlevel="Trace" writeTo="categoryfile" />
    <logger name="RareBooksService.CategoryCleanup.*" minlevel="Trace" writeTo="categoryfile" />
  </rules>
</nlog> 